---
import SignInForm from "../components/SignInForm.astro";
import Layout from "../layouts/Layout.astro";

const user = Astro.locals.user;

if (user) {
  return Astro.redirect("/dashboard");
}
---

<Layout title="Sign In - my-better-t-app">
  <div class="flex min-h-[calc(100vh-4rem)] items-center justify-center">
    <SignInForm />
  </div>
</Layout>
